body {
    background-image: url("../assets/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 1388px;
    height: 868px;
    font-family: Verdana, Geneva, sans-serif; 
}

.container {
    width: 1065px;
    margin: 0% auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.header {
    color: white;
    padding-top: 45px;
    padding-bottom: 40px;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo {
    display: block;
    float: left;
}

.header_logo {
    float: left;
    text-decoration: none;
    height: 44px;
    width: 46px;
    margin-top: 4px;
    margin-right: 14px;
    background: url("../assets/img/logotype.png") no-repeat;
}

.header_logo:hover {
    background: url("../assets/img/logotype_hover.png") no-repeat;
    transition: 0.5s ease;
}

.header_title {
    display: block;
}

.header a:hover {
    color: #F26522;
    transition: 0.5s ease;
}

.bg-title {
    font-size: 29px;
    text-transform: uppercase;
}

.sm-title {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 24px
}

.header_contacts {
    float: right;
    text-align: right;
    margin-top: 10px;
}

.contacts_text {
    display: block;
}

.email {
    font-size: 18px;
}

.phone {
    font-size: 18px;
}

.blocks {
    float: left;
    margin-left: 65px;
}

.blocks:first-child, .blocks:nth-child(4n) {
    margin-left: 0;
}

.img__info-text a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
}

.img__block {
    position: relative;
    width: 307px;
    height: 200px;
    padding: 2px;
    background: linear-gradient(to bottom, #fff, #010101);
    overflow: hidden;
}

.img__info {
    background-color: #F26522;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -63px;
    height: 63px;
}

.img__info-left {
    color: #fff;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.img__info-left-sm {
    display: block;
    font-size: 10px;
}

.img__info-left-lg {
    display: block;
    font-size: 14px;
    margin-top: 4px;
}

.img__info-right-detail {
    float: right;
    display: block;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    margin-right: 14px;
    margin-top: 30px;
}

img__info-right-detail::after {
    vertical-align: top;
    font-size: 21px;
    content: '\00A0 \00A0 \203A';
}

.img:hover + .img__info {
    visibility: visible;
    bottom: 0;
    transition: all 0.3s ease;
}

.img__info:hover {
    visibility: visible;
    bottom: 0;
}

.img__info-right-detail:hover {
    transform: all 03s ease;
    color: black;
    cursor: pointer;
}

.img__info-text {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer {
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}